{% extends 'main.html' %}

{% block crud_container %}
    {% if user %}
        <!-- Если передан конкретный пользователь -->
        <article class="card container fluid">
            <h2 align="center">Информация о пользователе</h2>
            <p><strong>ID:</strong> {{ user.id }}</p>
            <p><strong>Имя:</strong> {{ user.username }}</p>
            <p><strong>Возраст:</strong> {{ user.age }}</p>
        </article>
        <br>
    {% else %}
        <!-- Если список пользователей -->
        <section class="container-fluid">
            <h2 align="center">Users</h2>
            <br>
            <div class="card">
                <ul class="list-group list-group-flush">
                    {% for user in users %}
                        <li class="list-group-item">
                            <a href="/user/{{ user.id }}">
                                <strong>Имя:</strong> {{ user.username }},
                                <strong>Возраст:</strong> {{ user.age }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
{% endblock %}
